{
  "extends": "./node_modules/@pawjs/pawjs/.eslintrc",
  "rules": {
    "import/no-extraneous-dependencies": false
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./node_modules/@pawjs/pawjs/src/webpack/inc/webpack-resolver-config.js"
      }
    }
  }
}
