.container {
  position: relative;
  padding-top: 40px;
  font-size: 18px;
  line-height: 1.2;
  box-sizing: border-box;
}
.credit {
  text-align: center;
  padding: 5px 5px 10px 5px;
}
.nav {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 35px;
  height: 40px;
  left: 0;
  padding: 10px 5px;
  background: #ffffff;
  border-bottom: 0.5px solid lighten(black, 80%);
}
.prev {
  margin-right: 20px;
}
.next {
  margin-left: 20px;
}
.link {
  color: darken(#17a2b8, 30);
  text-decoration: none;
  max-width: 100%;
  word-break: break-all;
  &:active, &:visited, &:after {
    color: darken(#17a2b8, 30);
  }
}
.prev, .next {
  padding: 0 5px;
  font-size: 0.9rem;
  text-decoration: none;
  color: darken(#17a2b8, 30);
}
a.prev, a.next {
  cursor: pointer;
}

span.prev, span.next {
  color: lighten(black, 40);
}

/**
 * Single article styles
 */
.article-container {
  padding: 10px;
  margin-bottom: 10px;
}
.meta {
  font-size: 14px;
  margin-top: 5px;
  color: lighten(black, 20%);
  .link:hover {
    text-decoration: underline;
  }
}

/**
 * Blink animation
 */
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
