.title {
  font-size: 1.5em;
  margin-bottom: 10px;
  max-width: 100%;
  word-wrap: break-word;
}
.center {
  text-align: center;
  color: lighten(black, 30%);
  margin: 20px auto;
}
.small {
  font-size: 0.8em;
}
.karma {
  color: darken(crimson, 20%);
}
.since {
  color: lighten(black, 30%);
}
